[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "1.7.3"
numpy = "1.22.1"

[dev-packages]
autopep8 = "1.6.0"
pycodestyle = "2.8.0"
pdoc = "9.0.1"

[requires]
python_version = "3.9"
