### LaTeX

## Core latex/pdflatex auxiliary files:

_.aux
_.lof
_.log
_.lot
_.fls
_.out
_.toc
_.fmt
_.fot
_.cb
_.cb2
._.lb

## Intermediate documents:

_.dvi
_.xdv
_-converted-to._

# these rules might exclude image files for figures etc.

# \*.ps

# \*.eps

# \*.pdf

## Generated if empty string is given at "Please type another file name for output:"

.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):

_.bbl
_.bcf
_.blg
_-blx.aux
_-blx.bib
_.run.xml

## Build tool auxiliary files:

_.fdb_latexmk
_.synctex
_.synctex(busy)
_.synctex.gz
_.synctex.gz(busy)
_.pdfsync

## Build tool directories for auxiliary files

# latexrun

latex.out/

## Auxiliary and intermediate files from other packages:

# algorithms

_.alg
_.loa

# achemso

acs-\*.bib

# amsthm

\*.thm

# beamer

_.nav
_.pre
_.snm
_.vrb

# changes

\*.soc

# comment

\*.cut

# cprotect

\*.cpt

# elsarticle (documentclass of Elsevier journals)

\*.spl

# endnotes

\*.ent

# fixme

\*.lox

# feynmf/feynmp

_.mf
_.mp
_.t[1-9]
_.t[1-9][0-9]
\*.tfm

#(r)(e)ledmac/(r)(e)ledpar
_.end
_.?end
_.[1-9]
_.[1-9][0-9]
_.[1-9][0-9][0-9]
_.[1-9]R
_.[1-9][0-9]R
_.[1-9][0-9][0-9]R
_.eledsec[1-9]
_.eledsec[1-9]R
_.eledsec[1-9][0-9]
_.eledsec[1-9][0-9]R
_.eledsec[1-9][0-9][0-9]
_.eledsec[1-9][0-9][0-9]R

# glossaries

_.acn
_.acr
_.glg
_.glo
_.gls
_.glsdefs
_.lzo
_.lzs

# uncomment this for glossaries-extra (will ignore makeindex's style files!)

# \*.ist

# gnuplottex

_-gnuplottex-_

# gregoriotex

_.gaux
_.glog
\*.gtex

# htlatex

_.4ct
_.4tc
_.idv
_.lg
_.trc
_.xref

# hyperref

\*.brf

# knitr

\*-concordance.tex

# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files

# \*.tikz

\*-tikzDictionary

# listings

\*.lol

# luatexja-ruby

\*.ltjruby

# makeidx

_.idx
_.ilg
\*.ind

# minitoc

_.maf
_.mlf
_.mlt
_.mtc[0-9]\*
_.slf[0-9]_
_.slt[0-9]_
_.stc[0-9]_

# minted

\_minted\*
\*.pyg

# morewrites

\*.mw

# newpax

\*.newpax

# nomencl

_.nlg
_.nlo
\*.nls

# pax

\*.pax

# pdfpcnotes

\*.pdfpc

# sagetex

_.sagetex.sage
_.sagetex.py
\*.sagetex.scmd

# scrwfile

\*.wrt

# sympy

_.sout
_.sympy
sympy-plots-for-\*.tex/

# pdfcomment

_.upa
_.upb

# pythontex

_.pytxcode
pythontex-files-_/

# tcolorbox

\*.listing

# thmtools

\*.loe

# TikZ & PGF

_.dpth
_.md5
\*.auxlock

# todonotes

\*.tdo

# vhistory

_.hst
_.ver

# easy-todo

\*.lod

# xcolor

\*.xcp

# xmpincl

\*.xmpi

# xindy

\*.xdy

# xypic precompiled matrices and outlines

_.xyc
_.xyd

# endfloat

_.ttt
_.fff

# Latexian

TSWLatexianTemp\*

## Editors:

# WinEdt

_.bak
_.sav

# Texpad

.texpadtmp

# LyX

\*.lyx~

# Kile

\*.backup

# gummi

.\*.swp

# KBibTeX

_~[0-9]_

# TeXnicCenter

\*.tps

# auto folder when using emacs and auctex

./auto/\*
\*.el

# expex forward references with \gathertags

\*-tags.tex

# standalone packages

\*.sta

# Makeindex log files

\*.lpz

# xwatermark package

\*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib

# option is specified. Footnotes are the stored in a file with suffix Notes.bib.

# Uncomment the next line to have this generated file ignored.

#\*Notes.bib

### LaTeX Patch

# LIPIcs / OASIcs

\*.vtc

# glossaries

\*.glstex
